<div class="form-group col-xs-12">
  <label>Lado izquierdo</label>
  <input id="inputIzq" type="text" [(ngModel)]="inputIzq">
  <label> -----> </label>
  <label>Lado derecho</label>
  <input type="text" (keyup.enter)="addRule()" [(ngModel)]="inputDer">
</div>
<div class="grammar-creation">
  <textarea class="grammar-area" id="grammarArea" placeholder="Pega toda la gramatica para generarla en el boton" [(ngModel)]="completeGrammar"></textarea>
  <button type="button" class="btn btn-success generate-grammar" (click)="createGrammar()">Generar gramatica</button>
</div>
<div class="col-xs-12 text-center">
  <button [disabled]="canAdd()" type="button" class="btn btn-success" (click)="addRule()">Crear regla</button>
  <button [disabled]="this.reglas.length === 0" type="button" class="btn btn-primary" (click)="findFirstAndLastOnes()">Primeros + Siguientes</button>
  <button [disabled]="reviewRules()" type="button" class="btn btn-primary" (click)="startClosings()">IR_A</button>
  <button [disabled]="reviewClosings()" type="button" class="btn btn-primary" (click)="generateTable()">Tabla Reduccion / Desplazamiento</button>
</div>
<div class="col-xs-12">
  <h2>Lado izquierdo: {{inputIzq}}</h2>
  <h2>Lado derecho: {{inputDer}}</h2>
</div>
<div *ngIf="reglas.length > 0" class="col-xs-12">
  <h2 >Reglas de la gramatica</h2>
  <div *ngFor="let regla of reglas ; let i=index" class="col-xs-12">
    <i (click)="removeRule(regla)" class=" glyphicon glyphicon-remove-circle"></i>
    <h4 class="col-xs-1">{{ i }}.)</h4>
    <h4 class="col-xs-1">{{ regla.izq }}<span *ngIf="regla.der.endsWith('#')">'</span></h4>
    <h4 class="col-xs-1"> => </h4>
    <h4 class="col-xs-2">  {{ "{"+regla.der+"}" }}</h4>
    <h4 class="col-xs-1"> Primeros regla: </h4>
    <h4 *ngIf="regla.firstOnes.length > 0" class="col-xs-1">{{ regla.firstOne.join(", ") }}</h4>
    <h4 class="col-xs-1"> Primeros: </h4>
    <h4 *ngIf="regla.firstOnes.length > 0" class="col-xs-1">{{ regla.firstOnes.join(", ") }}</h4>
    <h4 class="col-xs-1"> Siguientes: </h4>
    <h4 *ngIf="regla.lastOnes.length > 0" class="col-xs-1">{{ regla.lastOnes.join(", ") }}</h4>
  </div>
</div>
<div *ngIf="closings.length > 0" class="col-xs-12">
  <span class="go-to-title"><h2>Expansión de IR_A</h2></span>
  <i (click)="toggleGoTo()" [ngClass]="showGoTo ? 'glyphicon-menu-up' : 'glyphicon-menu-down'" class="glyphicon show-go-to"></i> 
  <div *ngIf="showGoTo" class="go-to-container">
    <div *ngFor="let closing of closings" class="rectangle-container">
      <div>Ir_a(I<sub>{{closing.from}}</sub>,{{closing.to}})</div>
      <section [ngClass]="(closing.isACopy())?'goto-rectangle copy-state':'goto-rectangle'">
        <div *ngFor="let regla of closing.reglas" class="state-text">
          <span *ngIf="closing.index == 1 || checkPrintRule(closing, regla)">{{ regla.toString() }}</span>
        </div>
      </section>
      <div><span *ngIf="closing.isACopy()">#</span>I<sub>{{closing.index}}</sub></div>
      <div *ngIf="closing.isFinal" class="use-reduction">Tomada en cuenta para reducción</div>
    </div>
  </div>
</div>
<div *ngIf="table.length > 0" class="col-xs-12">
  <span class="table-title"><h2>Tabla Reduccion / Desplazamiento</h2></span>
  <i (click)="toggleTable()" [ngClass]="showTable ? 'glyphicon-menu-up' : 'glyphicon-menu-down'" class="glyphicon  show-table"></i> 
  <table *ngIf="showTable" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Estado</th>
        <th *ngFor="let nt of non_terminals">{{ nt }}</th>
        <th *ngFor="let t of terminals">{{ t }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table ; let i=index">
        <td class="state">{{ i }}</td>
        <td class="element" *ngFor="let element of row">{{ element }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="word-recognize-container col-xs-12">
  
  <div class="word-input">
    <input type="text" [(ngModel)]="wordToRecognize" (keyup.enter)="table.length !== 0 && wordToRecognize.length !== 0 ? testWord() : null">
    <button [disabled]="table.length === 0 || wordToRecognize.length === 0" type="button" class="btn btn-success" (click)="testWord()">Probar palabra</button>
  </div>
    <table *ngIf="table.length !== 0 && wordToRecognize.length !== 0 && actions.length > 0" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Pila</th>
        <th>Palabra</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of actions ; let i=index">
        <td class="state">{{ getStack(stack[i]) }}</td>
        <td class="state">{{ getWord(word[i]) }}</td>
        <td class="state">{{ getReduction(actions[i], stack[i]) }}</td>
      </tr>
    </tbody>
  </table>

  

</div>
