<div class="form-group col-xs-12">
  <label>Lado izquierdo</label>
  <input type="text" [(ngModel)]="inputIzq">
  <label> -----> </label>
  <label>Lado derecho</label>
  <input type="text" [(ngModel)]="inputDer">
</div>
<div class="col-xs-12 text-center">
  <button [disabled]="canAdd()" type="button" class="btn btn-success" (click)="addRule()">Crear regla</button>
  <button type="button" class="btn btn-primary" (click)="startClosings()">IR_A</button>
</div>
<div class="col-xs-12">
  <h2>Lado izquierdo: {{inputIzq}}</h2>
  <h2>Lado derecho: {{inputDer}}</h2>
</div>
<h2>Reglas de la gramatica</h2>
<div *ngIf="reglas.length > 0" class="col-xs-12">
  <div *ngFor="let regla of reglas" class="col-xs-12">
    <h3 class="col-xs-1">{{ regla.izq }}</h3>
    <h3 class="col-xs-1"> => </h3>
    <h3 class="col-xs-1">  {{ "{"+regla.der+"}" }}</h3>
  </div>
</div>
<h2>Expansión de IR_A</h2>
<div *ngIf="closings.length > 0" class="col-xs-12">
  <div *ngFor="let closing of closings" class="col-xs-12 {{closing.isCopy ? 'borderBonito' : 'borderFeo'}}">
    <h3>Ir_a({{ closing.from }}, {{ closing.to }})</h3>
    <div *ngFor="let regla of closing.reglas" class="col-xs-12">
      <h3 class="col-xs-1">{{ regla.izq }}</h3>
      <h3 class="col-xs-1"> => </h3>
      <h3 class="col-xs-1">  {{ "{"+regla.der+"}" }}</h3>
    </div>
    <h3 *ngIf="!closing.isCopy">I{{ closing.index }}</h3>
    <h3 *ngIf="closing.isCopy">#I{{ closing.index }}</h3>
    <h5 *ngIf="closing.isFinal">Tomada en cuenta para reducción</h5>
  </div>
</div>
