<div class="form-group col-xs-12">
  <label>Lado izquierdo</label>
  <input type="text" [(ngModel)]="inputIzq">
  <label> -----> </label>
  <label>Lado derecho</label>
  <input type="text" [(ngModel)]="inputDer">
</div>
<div class="col-xs-12 text-center">
  <button [disabled]="canAdd()" type="button" class="btn btn-success" (click)="addRule()">Crear regla</button>
  <button [disabled]="reviewRules()" type="button" class="btn btn-primary" (click)="startClosings()">IR_A</button>
  <button [disabled]="reviewClosings()" type="button" class="btn btn-primary" (click)="generateTable()">Tabla Reduccion / Desplazamiento</button>
</div>
<div class="col-xs-12">
  <h2>Lado izquierdo: {{inputIzq}}</h2>
  <h2>Lado derecho: {{inputDer}}</h2>
</div>
<h2>Reglas de la gramatica</h2>
<div *ngIf="reglas.length > 0" class="col-xs-12">
  <div *ngFor="let regla of reglas" class="col-xs-12">
    <h3 class="col-xs-1">{{ regla.izq }}</h3>
    <h3 class="col-xs-1"> => </h3>
    <h3 class="col-xs-1">  {{ "{"+regla.der+"}" }}</h3>
  </div>
</div>
<h2>Expansión de IR_A</h2>
<div *ngIf="closings.length > 0" class="col-xs-12">
  <div *ngFor="let closing of closings" class="rectangle-container">
    <div>Ir_a(I<sub>{{closing.from}}</sub>,{{closing.to}})</div>
    <section [ngClass]="(closing.isACopy())?'goto-rectangle copy-state':'goto-rectangle'">
      <div *ngFor="let regla of closing.reglas" class="state-text">
        {{regla.toString()}}
      </div>
    </section>
    <div><span *ngIf="closing.isACopy()">#</span>I<sub>{{closing.index}}</sub></div>
    <div *ngIf="closing.isFinal" class="use-reduction">Tomada en cuenta para reducción</div>
  </div>
</div>
<h2>Tabla Reduccion / Desplazamiento</h2>
<div *ngIf="table.length > 0" class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Estado</th>
        <th *ngFor="let nt of non_terminals">{{ nt }}</th>
        <th *ngFor="let t of terminals">{{ t }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table ; let i=index">
        <td>{{ i }}</td>
        <td *ngFor="let element of row">{{ element }}</td>
      </tr>
    </tbody>
  </table>
</div>
